[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
transformers = "*"
xmltodict = "*"
pandas = "*"
langchain = "*"
openai = "*"
python-dotenv = "*"
neo4j = "*"
langchain-openai = "*"
streamlit = "*"

[dev-packages]

[requires]
python_version = "3.12"
